<div id="pdfWarningModal" class="modal warning-modal" role="dialog" aria-modal="true">
    <div class="modal-content">
         <div class="modal-header">
            <h3><i data-lucide="upload-cloud"></i> Sugerencia</h3>
        </div>
        <div class="modal-body">
            <p>Adjuntar tu certificado acelera significativamente el proceso. ¿Deseas adjuntarlo ahora?</p>
            <div class="modal-actions exit-buttons">
                <button id="pdf-warning-skip" class="cta-btn-secondary">Enviar sin adjuntar</button>
                <button id="pdf-warning-upload" class="cta-btn-primary">Adjuntar Certificado</button>
            </div>
        </div>
    </div>
</div>