<div id="exitConfirmModal" class="modal" role="alertdialog" aria-modal="true" aria-labelledby="exit-confirm-title">
    <div class="modal-content warning-modal">
         <div class="modal-header">
            <h3 id="exit-confirm-title"><i class="fas fa-question-circle"></i> ¿Estás seguro?</h3>
        </div>
        <div class="modal-body">
            <p>Estás a solo un paso de recibir tu análisis personalizado gratuito y descubrir cómo <strong>optimizar tu plan de salud.</strong></p>
            <div class="modal-actions exit-buttons">
                <button id="exit-confirm-exit" class="cta-btn-secondary">Deseo salir</button>
                <button id="exit-confirm-continue" class="cta-btn-primary">Ok, continuemos</button>
            </div>
        </div>
    </div>
</div>